TOKEN=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789
CLIENT_ID=0123456789876543210
GUILD_ID=0123456789876543210
OWNER_ID=012345678012345678
MODEL_NAME=gemini-99.99-pro
GEMINI_API_KEY=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ123
DEEPL_API_KEY=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ123
DATABASE=database
DB_USER=user
DB_PASSWORD=password
DB_DIALECT=postgres
DB_HOST=nanazdb
DB_PORT=5432
SUPPORT_SERVER=https://discord.gg/invitelink
